<div class="row">
  <h1>Hangar</h1>
  <!-- <app-space-ship></app-space-ship> -->
  <div class="col-6">
    <app-space-ship *ngFor="let spaceShip of spaceShips" [spaceShip]="spaceShip">
        <button *ngIf="selectedPilot && !spaceShip.pilot" (click)="assignPilot(spaceShip)">Pilotuj</button>
        <button *ngIf="spaceShip.pilot" (click)="deassignPilot(spaceShip)">Opuść</button>
    </app-space-ship>
  </div>
  <div class="col-6">
    <app-pilot-room (selected)="selectedPilot = $event"></app-pilot-room>
  </div>
</div>
