<nav>
    <a routerLink="/" routerLinkActive="active">Index</a>
    <a routerLink="space">Space</a>
    <a routerLink="detector">Detector</a>
    <!-- <a routerLink="space">Hangar</a> -->
    <a routerLink="intel">Intel Browser</a>
</nav>


<router-outlet></router-outlet>

<a2s-comm></a2s-comm>

<!-- <app-hangar></app-hangar> -->

<div class="container">
  <div class="row">
    <div class="col-3">
      <!-- This content will take up 3/12 (or 1/4) of the container -->
    </div>
    <div class="col-3">
      <!-- This content will take up 3/12 (or 1/4) of the container -->
    </div>
    <div class="col-6">
      <!-- This content will take up 6/12 (or 1/2) of the container -->
    </div>
  </div>
</div>

<!-- <app-planet-detector></app-planet-detector> -->
